<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.massabot.control.mapper.VoiceCommandMapper">

  <resultMap id="BaseResultMap" type="com.massabot.control.model.VoiceCommand">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="text" jdbcType="VARCHAR" property="text" />
    <result column="gcode" jdbcType="VARCHAR" property="gcode" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="enable_flag" jdbcType="BIT" property="enableFlag" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, text, gcode, create_date, update_date, enable_flag
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from voice_command
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from voice_command
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.massabot.control.model.VoiceCommand">
    insert into voice_command (id, text, gcode, 
      create_date, update_date, enable_flag
      )
    values (#{id,jdbcType=INTEGER}, #{text,jdbcType=VARCHAR}, #{gcode,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{enableFlag,jdbcType=BIT}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="com.massabot.control.model.VoiceCommand">
    insert into voice_command
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="text != null">
        text,
      </if>
      <if test="gcode != null">
        gcode,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="enableFlag != null">
        enable_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="text != null">
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="gcode != null">
        #{gcode,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="enableFlag != null">
        #{enableFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.massabot.control.model.VoiceCommand">
    update voice_command
    <set>
      <if test="text != null">
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="gcode != null">
        gcode = #{gcode,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="enableFlag != null">
        enable_flag = #{enableFlag,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.massabot.control.model.VoiceCommand">
    update voice_command
    set text = #{text,jdbcType=VARCHAR},
      gcode = #{gcode,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      enable_flag = #{enableFlag,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 自定义的sql语句 -->
  
  <select id="selectAll" resultMap="BaseResultMap">
  		SELECT 
  		<include refid="Base_Column_List"/>
  		FROM VOICE_COMMAND
  		WHERE ENABLE_FLAG = TRUE
  		ORDER BY GCODE
  </select>
</mapper>